body {
  text-align: center;
  font-family: Helvetica;
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;

}

.headerbackground {

  background-image: url(../images/the-flatiron-building.png);
}

.nav {
  font-size: 18px;
  color: white;
}
